// Variables import
@import "variables.scss";
@import "fonts.scss";
@import "icons.scss";
/* ============== Logo =============== */
.logo-box {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
}
.logo {
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  &:first-letter {
    color: $defaultColor;
    font-weight: 600;
  }
  .logo-name-first {
    color: $defaultColor;
    font-weight: 600;
  }
}
.sublogo {
  font-family: $Roboto;
  font-weight: 300;
  letter-spacing: 9px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
/* ============ Logo end ============= */
/* ============ Top bar ============== */
.top-bar {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 50px;
  background: $light-gray;
  .container {
    height: 50px;
  }
}
/* ========== Top bar end ============ */
/* ========== Comment item =========== */
.comment-item {
  margin-bottom: 40px;
  overflow: hidden;
  .comment-item-row {
    margin-left: -$defaultPadding;
    margin-right: -$defaultPadding;
    &:before {
      content: ' ';
      display: table;
    }
    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }
}
.comment-photo {
  float: left;
  width: 16%;
  padding: 0 $defaultPadding;
}
.comment-photo-box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
.comment-content {
  float: left;
  width: 84%;
  padding: 0 $defaultPadding;
  text-align: right;
}
.comment-name {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
  color: $defaultColor;
  text-align: left;
}
.comment-date {
  font-family: $Roboto;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  margin-bottom: 5px;
  color: #3b3b3b;
  text-align: left;
  &:before {
    content: '\e812';
    display: inline-block;
    margin-right: 10px;
    font-family: $icon-font;
    font-style: normal;
    font-weight: normal;
    speak: none;
    line-height: 14px;
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.comment-info {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  color: $defaultColor;
  text-align: left;
}
.comment-text {
  font-size: 14px;
  text-align: left;
}
/* ======== Comment item end ========= */
/* ======== Partfolio module ========= */
.portfolio-module-box {
  margin-bottom: 30px;
}
.portfolio-box-item {
  margin-bottom: 30px;
  &:hover {
    .portfolio-img-box:before {
      opacity: 0.6;
    }
    .portfolio-img-btn {
      opacity: 1;
      z-index: 2;
    }
    .portfolio-img-box > img {
      transform: scale(1.1);
    }
  }
}
.portfolio-img-box {
  width: 100%;
  height: 212px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  transition: 0.2s;
  text-align: center;
  &:before {
    transition: 0.2s;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    background: $defaultColor;
    opacity: 0;
    z-index:2;
    cursor: pointer;
  }
  img {
    transition: 0.2s;
    max-width: 100%;
    height: auto;
  }
}
.portfolio-item-link {
  text-decoration: none;
  &:focus {
    text-decoration: none!important;
  }
  &:hover {
    text-decoration: none!important;
    .portfolio-item-header {
      color: $defaultColor;
    }
  }
}
.portfolio-item-header {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #000;
  text-align: left;
  min-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.portfolio-img-btn {
  transition: 0.2s;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  width: 120px;
  display: block;
  margin: -10px auto 0;
  height: 30px;
  line-height: 17px;
  padding: 5px 10px;
  border: 2px solid #fff;
  color: #fff;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  &:active {
    color: #fff;
    text-decoration: none;
  }
  &:focus {
    color: #fff;
    text-decoration: none;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
/* ====== Partfolio module end ======= */
.parallax-window {
  min-height: 400px;
  height: auto;
  background: transparent;
}
.parallax-container {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
}

.parallax-box {
  padding: 5px 30px 20px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }

  &.blue {
    background: rgba(89, 122, 133, 0.6)!important;
    color: #fff!important;
  }
}
/* ======== Parallax section ========= */


/* =============== Form ============= */
.form-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.form-control {
  border-radius: 2px;
}
textarea.form-control {
  resize: none;
}
/* ============ Form end ============ */

/* ============ Top menu ============ */
.top-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  li {
    display: inline-block;
    padding: 0 5px;
    margin: 0 10px;
    a {
      transition: 0.2s;
      color: #000;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        color: $defaultColor;
        text-decoration: none;

      }
    }
  }
}
/* ========== Top menu end ========== */
/* ============ Top phone =========== */
.top-phone {
  display: inline-block;
  a {
    transition: 0.2s;
    color: #000;
    text-decoration: none;
    &:hover {
      color: $defaultColor;
      text-decoration: none;
    }
  }
  .icon-whatsapp {
    font-size: 20px;
  }
}
/* ========== Top phone end ========= */

/* ======= Full Screen slider ======= */
.slider-section {
  .container-fluid {
    padding: 0;
    width: 100%;
    overflow: hidden;
  }
}
.slider-full-screen_item {
  max-height: 450px;
  position: relative;
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.slider-full-screen_item__decs-box {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 30px 0;
}
/* ===== Full Screen slider end ===== */

