// Icons Font
$icon-font: "fontello";
$OpenSans: "Open Sans", sans-serif;
$Roboto: "Roboto", sans-serif;

$defaultFont: $OpenSans !default;

//Colors
$grey : #cfcfcf;
$light-gray : #f7f7f7;

$slategray : #597a85;
$slategray-light : #6c909c;

$red : #b72d45;
$red-light: #d54961;

$defaultColor : $slategray; //Default color
$defaultLightColor : $slategray-light; //Default light color

$quotesColor : $grey !default;

$defaultPadding: 15px !default;